<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCMarket.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PCMarket.Common.Properties.Settings>
            <setting name="DropboxAccessToken" serializeAs="String">
                <value>dbW97qkoJY4AAAAAAAAANBLu9OImnwka85Fq0_dLsoklDyCKO9Kz12WGaQGo1NPk</value>
            </setting>
            <setting name="DropboxApplicationKey" serializeAs="String">
                <value>d85tt5p2sb4hc0p</value>
            </setting>
            <setting name="DropboxApplicationSecrete" serializeAs="String">
                <value>mmomgaftv2igwsr</value>
            </setting>
        </PCMarket.Common.Properties.Settings>
    </applicationSettings>
</configuration>