<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Register", "Account")" id="registerLink" class="navbartabs">Register</a></li>
    <li><a href="@Url.Action("Login", "Account")" id="loginLink" class="navbartabs"><span class="glyphicon glyphicon-user"></span>Log in</a></li>
</ul>