<div id="exchanger-container" class="container hidden-xs">
    <div
        id="exchanger"
        path="/Images"
        images="Hardware.png, Intel.png, Motherboard.png"
        imagechangedelay="1000"
        delay="1500">
    </div>
</div>